* {
  --movement-grid-min-dimensions: 300px;
  --movement-grid-max-dimensions: 1000px;
  --movement-grid-border-color: black;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
}

main {
  display: flex !important;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

#snake-area {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  width: 50%;
  max-width: 500px;
  max-height: 550px;
}

#score-area {
  display: flex;
  gap: 20px;
}

#play-area {
  display: grid;
  border: 4px solid var(--movement-grid-border-color, black);
  width: auto;
  flex-grow: 1;
  overflow: visible;
}

.cell {
  background-color: #eee;
}

.checkered-cell {
  background-color: #ccc;
}
